## @param name application name
name: ""

## @param replicaCount Number of application replicas to deploy. Defaults to 2 for high availability.
##
replicaCount: 2

## @param businessid Team reosurce tag id
## Required: please quote the businessid as string
businessid: ""

## @param nodeSelector Node labels for pod assignment
## ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/
##
nodeSelector: {}

## @param tolerations Tolerations for pod assignment
## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
##
tolerations: []
## Exmaple:
# tolerations
# - key: "shop-callback-node"
#   operator: "Equal"
#   value: "true"
#   effect: "NoSchedule"

## Configure Pods Security Context
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
## @param podSecurityContext.enabled Enabled application pods' Security Context
## @param podSecurityContext.fsGroupChangePolicy Set filesystem group change policy
## @param podSecurityContext.sysctls Set kernel settings using the sysctl interface
## @param podSecurityContext.supplementalGroups Set filesystem extra groups
##
podSecurityContext:
  enabled: true
  fsGroupChangePolicy: Always
  sysctls: []
  supplementalGroups: []

## @param topologySpreadConstraints Topology Spread Constraints for pod assignment spread across your cluster among failure-domains. Evaluated as a template
## Ref: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#spread-constraints-for-pods
##
topologySpreadConstraints: []
## Exmaple:
# topologySpreadConstraints
#   - labelSelector:
#       matchLabels:
#         app: app-name
#     maxSkew: 1
#     topologyKey: topology.kubernetes.io/zone
#     whenUnsatisfiable: DoNotSchedule

## @section Affinity for pod assignment
## @param affinity.nodeAffinity Node affinity preset type.
## @param affinity.podAffinity Pod affinity preset.
## @param affinity.podAntiAffinity Pod anti-affinity preset.
## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
##
affinity:
  nodeAffinity: {}
  podAffinity: {}
  podAntiAffinity: {}

## @param deployment Kubernetest deployment configuration
## ref: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/
##
deployment: {}
## Example
# deployment:
#   annotations:
#     checksum/config: checksum
#     checksum/config.yml: compute_checksum::configmaps/app-config/data/config.yml # `compute_checksum` will compute the sha256 checksum of the content
#   containers:
#     example-app:
#       name: example-app
#       image:
#         repository: example-app
#         tag: latest
#       env:
#         RAILS_ENV: staging
#       envSecrets:
#         MONGODB_USER:
#           name: mongodb
#           key: MONGODB_USER
#       volumeMounts:
#       - name: app-config-1
#         subPath: config.yaml
#         mountPath: /app/config.yaml
#         readOnly: true
#   volumes:
#     - name: app-config-1
#       configMap: {}
#   dnsConfig:
#     options:
#       - name: ndots
#         value: "2"

## @param deployment Kubernetest ConfigMap configuration
## ref: https://kubernetes.io/docs/concepts/configuration/configmap/
## Example
# configmaps:
#   app-config:
#     name: app-config-1
#     data:
#       config.yaml: |
#         test: 1

## @param EnableMutilpleIngress Enable Mutilple Ingresses. Defaults to `false`, that you will create single Ingress Kubernetes object.
## @param ingress Kubernetest Ingress configuration
## ref: https://kubernetes.io/docs/concepts/services-networking/ingress/
## Example
EnableMutilpleIngress: false
# EnableMutilpleIngress: true
# ingress:
#   internal-ingress:
#     annotations:
#       kubernetes.io/ingress.class: alb
#     rules:
#       - host:
#         http:
#           paths:
#           - backend:
#               serviceName: example
#               servicePort: 80
#             path: /health_check
#             pathType: ImplementationSpecific
#   external-ingress:
#     annotations:
#       kubernetes.io/ingress.class: alb
#     rules:
#       - host:
#         http:
#           paths:
#           - backend:
#               serviceName: example
#               servicePort: 80
#             path: /health_check
#             pathType: ImplementationSpecific

## @param service Kubernetest Service configuration
## @param services Mutilple Kubernetest Service configuration
## ref: https://kubernetes.io/docs/concepts/services-networking/service/
## Exmaple: Single service
# service:
#   ports:
#     - name: python-operator
#       port: 80
#       target: 5000
#   type: ClusterIP
#   clusterIP: 10.100.0.0
#   selector:
#     app: python-operator
#
## Exmaple: Multiple service
# services:
#   service-1: # service name
#     ports:
#       - name: "svc"
#         port: 8080
#     type: ClusterIP
#     clusterIP: 10.100.0.0
#     selector:
#       app: svc
#   service-2: # service name
#     type: ExternalName
#     externalName: example.com

## @section Pod Disruption Budget configuration
## ref: https://kubernetes.io/docs/tasks/run-application/configure-pdb/
## @param pdb.enable Enable a Pod Disruption Budget creation.
## @param pdb.minAvailable Minimum number/percentage of pods that should remain scheduled.
## @param pdb.maxUnavailable Maximum number/percentage of pods that may be made unavailable. Defaults to `50%` if both `pdb.minAvailable` and `pdb.maxUnavailable` are empty.
##
pdb:
  enable: true
  minAvailable: ""
  maxUnavailable: ""

## @section HorizontalPodAutoscaler(HPA) configuration
## ref: https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/horizontal-pod-autoscaler-v2/#HorizontalPodAutoscalerSpec
## @param hpa.minReplicas Minimum number of application pod
## @param hpa.maxReplicas Maximum number of application pod
## @param hpa.Resource Resource refers to a resource metric from native Kubernetes HPA.
## ref: https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/horizontal-pod-autoscaler-v2/#HorizontalPodAutoscalerSpec
## Example
# hpa:
#   minReplicas: 1
#   maxReplicas: 2
#   Resource:
#     - name: cpu
#       # simple chart support percent and value setting
#       percent: 60
#     - name: memory
#       value: 100Mi

## @param role Kubernetest role
## @param roleroleBinding Kubernetest roleroleBinding
## @param clusterRole Kubernetest clusterRole
## @param clusterRoleBinding Kubernetest clusterRoleBinding
## ref: https://kubernetes.io/docs/reference/access-authn-authz/rbac/
##
# role:
#   name: role_name
#   rules:
#     - apiGroups: [""]
#       resources: ["pods"]
#       verbs: ["watch", "list", "get"]
# roleBinding:
#   name: rolebinding_name
#   roleRef:
#     name: role_name
#   subjects:
#   - kind: ServiceAccount
#     name: service_account_name
#     namespace: service_account_namespace
#
# clusterRole:
#   name: clusterrole_name
#   rules:
#     - apiGroups: [""]
#       resources: ["pods"]
#       verbs: ["watch", "list", "get"]
# clusterRoleBinding:
#   name: clusterrolebinding_name
#   roleRef:
#     name: clusterrole_name
#   subjects:
#   - kind: ServiceAccount
#     name: service_account_name
#     namespace: service_account_namespace

## @param externalSecrets secretStore object from External Secrets Operator point to AWS Secrets Manager
## ref: https://external-secrets.io/latest/provider/aws-secrets-manager/
##
externalSecrets: {}
## Example
# externalSecrets:
#   example-env-new:
#     secretStore:
#       aws:
#         region: "ap-southeast-1" # optional, default "ap-southeast-1"
#         arn: "arn:aws:iam::xxx:role/xxxx" # optional, default use deployment service role
#     refreshInterval: 1m # optional, default 1h
#     dataFrom:
#     - extract:
#         key: example-secret
#         version: "uuid/VersionId"

## @param secrets Kubernetest Secrets configuration
## ref: https://kubernetes.io/docs/concepts/configuration/secret/
## Example
# secrets:
#   example-env:
#     data:
#       data_name: YW5keWNodWFuZw==
#       data_tls: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNxRENDQVpBQ0NRQ3NtSEY1ODZDVTRUQU5CZ2txaGtpRzl3MEJBUXNGQURBV01SUXdFZ1lEVlFRRERBdG0KLi4uCnhjUGFMNEdDZ1VsKzhUaUsKLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo=
#     # no need to base64 encode
#     stringData:
#       str_name: "andychuang"
#       str_tls: |-
#        -----BEGIN CERTIFICATE-----
#        MIICqDCCAZACCQCsmHF586CU4TANBgkqhkiG9w0BAQsFADAWMRQwEgYDVQQDDAtm
#        ...
#        xcPaL4GCgUl+8TiK
#        -----END CERTIFICATE-----

## @param serviceMonitors Prometheus Operator ServiceMonitors
## ref: https://prometheus-operator.dev/docs/developer/getting-started/#using-servicemonitors
##
# serviceMonitors:
#   mongodb-observer:
#     namespaceSelector:
#       - my-app
#     selector:
#       matchLabels:
#         app: mongodb-observer # which service you want to match
#     endpoints:
#       - port: http # port name of the service expose

## @param PodMonitors Prometheus Operator PodMonitors
## ref: https://prometheus-operator.dev/docs/developer/getting-started/#using-podmonitors
##
# podMonitors:
#   mongodb-observer:
#     namespaceSelector:
#       - my-app
#     selector:
#       matchLabels:
#         app: mongodb-observer # which service you want to match
#     podMetricsEndpoints:
#       - port: http # port name of the service expose


## @param KEDA.ScaledObject.spec KEDA ScaledObject spec
## ref: https://keda.sh/docs/2.14/concepts/scaling-deployments/#scaledobject-spec
## NOTE: Don't combine ScaledObject with Horizontal Pod Autoscaler (HPA)
# KEDA:
#   ScaledObject:
#     spec: {}

## @param rollout Argo Rollout
## ref: https://argoproj.github.io/argo-rollouts/features/specification/
##
# rollout: {}
## Exmaple
# rollout:
#   annotations:
#     notifications.argoproj.io/subscribe.on-rollout-completed.slack_webhook: ""
#   revisionHistoryLimit: 10
#   replicas: 10 # Required, recommend this value should be greater/equal than HPA minimum capacity to prevent performance downgrade when project upgrade.
#   strategy:
#   # blueGreen and canary CANNOT exist at the same time
#     blueGreen:
#       activeService: "app-name" # If uses service, this is an optional value; if uses services, then this is a required value
#       previewService: "app-name-preview"  # If uses service, this is an optional value; if uses services, then this is a required value
#       autoPromotionEnabled: false # Required value. if you don't want auto promotion, type false.
#       extra:
#         prePromotionAnalysis:
#           templates:
#           - templateName: success-rate
#           args:
#           - name: service-name
#             value: guestbook-svc.default.svc.cluster.local
#     canary:
#       canaryService: "app-name-canary" # If uses service, this is an optional value; if uses services, then this is a required value
#       stableService: "app-name-stable"# If uses service, this is an optional value; if uses services, then this is a required value
#       steps:
#         - setWeight: 10
#         - pause: { duration: 1h }
#         - analysis:
#             templates:
#             - templateName: success-rate
#         - setWeight: 100
#       trafficRouting:
#         alb: # If choose trafficRouting.alb, remember to modify ingress servicePort: use-annotation
#           ingress: ingress
#           servicePort: 443
#           rootService: "app-name" # origin service name
#       extra:
#         analysis:
#           templates:
#           - templateName: success-rate
#           args:
#           - name: service-name
#             value: guestbook-svc.default.svc.cluster.local

## @param analyses Argo Rollout Analysis
## ref: https://argoproj.github.io/argo-rollouts/features/analysis
##
analyses: {}
## Example
# analyses:
#   success-rate:
#     spec:
#       dryRun:
#       - metricName: .*
#       args:
#       - name: service-name
#       metrics:
#       - name: success-rate
#         interval: 5m
#         successCondition: result[0] >= 0.95
#         failureLimit: 3
#         provider:
#           prometheus:
#             address: http://prometheus.example.com:9090
#             query: |
#               sum(irate(
#                 istio_requests_total{reporter="source",destination_service=~"{{args.service-name}}",response_code!~"5.*"}[5m]
#               )) /
#               sum(irate(
#                 istio_requests_total{reporter="source",destination_service=~"{{args.service-name}}"}[5m]
#               ))

## @section Persistence Parameters
## ref: https://kubernetes.io/docs/concepts/storage/persistent-volumes/
##
persistence:
  ## @param persistence.enabled Enable persistence using Persistent Volume Claims
  ##
  enabled: false
  ## @param persistence.name Persistent Volume Claim Name
  ## Required if persistence.enabled ture, please note your PVC name must same value as deployment.volumes.persistentVolumeClaim.claimName
  ##
  name: ""
  ## @param persistence.storageClass Persistent Volume storage class
  ## If defined, storageClassName: <storageClass>
  ## If undefined (the default) or set to gp3, choosing the default ebs csi driver as provisioner
  ##
  storageClass: "gp3"
  ## @param persistence.accessModes [array] Persistent Volume access modes
  ##
  accessModes:
    - ReadWriteOnce
  ## @param persistence.size Persistent Volume size
  ##
  size: 10Gi
  ## @param persistence.dataSource Custom PVC data source
  ##
  dataSource: {}
  ## @param persistence.selector Selector to match an existing Persistent Volume for application data PVC
  ## If set, the PVC can't have a PV dynamically provisioned for it
  ## E.g.
  ## selector:
  ##   matchLabels:
  ##     app: my-app
  ##
  selector: {}
